First step.
- Type of net to be sent to a particular sub county (available?)

Primary Notifying party for a dispatch
    - sub county store manager, sub county chief (accounting officer), LC3 or equivalent
    - DHO, RDC, DSO (District,
    - From MoH -> District supervisor, sub county supervisor

    National level.

    Warehouse operations manager, chair of logistics sub committeei, HMU

Acknowledgemet of reciept shall be by the driver and comfirmed by the sub county store manager or sub county cheif
